<!doctype html>
<html>
<head>
  <title>SF Street Cheat</title>

  <style>
    #map {
      float: right;
      height: 20em;
      width: 25em
    }
    h1{
      color: green;
    }
    .hidden{
      display: none;
    }
    #forms {
      width: 30em;
      float: left;
    }
  </style>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

</head>

<body>
  
  <h1>SF Street Cheat</h1>

  {% block content %} put your content here {% endblock %}
  
</body>

</html>