{% extends 'base.html' %}
{% block content %}
<!-- <p>
</p>
<p>
    <h2>Login</h2>
    <form action='/verify_user' method="POST">
        Email: <input type="text" name="email" required="True">
        Password: <input type="password" name="password" required="True">
        <input type="submit" name="submit">
    </form>
</p>

<p>
    <h2>Register</h2>
    <form action='/create_user' method="POST">
        Email: <input type="text" name="email" required="True">
        Password: <input type="password" name="password" required="True">
        Phone: <input type="text" name="phone" required="True">
        <input type="submit" name="submit">
    </form>
</p> -->




<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> -->
<!-- <script type="text/javascript">
$('#myModal').show()
</script> -->
{% endblock %}