{% extends 'base.html' %}


{% block content %}
<nav class="navbar navbar-dark" style="background-color: DarkSlateGray;">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="/">SF StreetCheat</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a id="parkbtn2" href="/parking" style="color: white; vertical-align: center; font-size: 20px;"> Park My Car</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container block">
    <div class="row">
        <div id= "home" class="col-xs-12 col-sm-4">
            {% if home %}
                <div class="panel panel-success" id="homepanel" style="vertical-align: middle;">
                    <div class="panel-heading">Home Address</div>
                    <div id="homediv" class="panel-body"><h4>{{ home[0] }} {{ home[1] }}</h4><br>
                    <b>Next Cleaning: </b>{{ home[2] }}</div>
                </div>
            {% endif %}
            <button class="btn btn-default" id="homebtn">Update Home Address</button>
            <form action='/add_fave_loc' id="homeform" class="hidden">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input name="address" type="text" class="form-control" id="homeaddress" placeholder="Address" required="True">
                </div>
                <div class="form-group">
                    <label class="form-label">Street</label>
                    <div class="controls">
                        <select name="street" id="homestreet" class="form-control input-xlarge" required="True">
                            <option value="" selected="selected">(please select)</option>
                            {% for street in streets %}
                                <option value= {{ street.street_name|replace(" ", "-") }}>{{ street.street_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="homesidediv" class="form-group">
                    <label class="form-label">Street Side</label>
                    <div class="controls">
                        <select name="side" id="homeside" class="form-control input-xlarge" required="True">
                            <option value="" selected="selected">(please select)</option>
                            {% for side in sides %}
                                <option value={{ side.side_name }} id = {{ side.side_name }} class = 'hidden sides home'>{{ side.side_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="type" value="hom">
                <button type="submit" class="btn btn-default" >Update Recent Address</button>
            </form>
        </div>
        <div id= "work" class="col-xs-12 col-sm-4">
            {% if work %}
                <div class="panel panel-success" id="workpanel" style="vertical-align: middle;">
                    <div class="panel-heading">Work Address</div>
                    <div id="workdiv" class="panel-body"><h4>{{ work[0] }} {{ work[1] }}</h4><br>
                <b>Next Cleaning: </b>{{ work[2] }}</div>
                </div>
            {% endif %}
            <button class="btn btn-default" id="workbtn">Update Work Address</button>
            <form action='/add_fave_loc' id="workform" class="hidden">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input name="address" type="text" class="form-control" id="workaddress" placeholder="Address" required="True">
                </div>
                <div class="form-group">
                    <label class="form-label">Street</label>
                    <div class="controls">
                        <select name="street" id="workstreet" class="form-control input-xlarge" required="True">
                            <option value="" selected="selected">(please select)</option>
                            {% for street in streets %}
                                <option value= {{ street.street_name|replace(" ", "-") }}>{{ street.street_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="worksidediv" class="form-group">
                    <label class="form-label">Street Side</label>
                    <div class="controls">
                        <select name="side" id="workside" class="form-control input-xlarge" required="True">
                            <option value="" selected="selected">(please select)</option>
                            {% for side in sides %}
                                <option value={{ side.side_name }} id = {{ side.side_name }} class = 'hidden sides work'>{{ side.side_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="type" value="wor">
                <button type="submit" class="btn btn-default" >Update Work Address</button>
            </form>
        </div>
        <div id="recent" class="col-xs-12 col-sm-4">
            {% if recent %}
                <div class="panel panel-success" id="recentpanel" style="vertical-align: middle;">
                    <div class="panel-heading">Last Place You Parked</div>
                    <div id="recentdiv" class="panel-body"><h4>{{ recent[0] }} {{ recent[1] }}</h4><br><b>Next Cleaning:</b> {{ recent[2] }}</div>
                </div>
            {% endif %}
            <button class="btn btn-default" id="recentbtn">Update Recent Address</button>
             <form action='/add_fave_loc' id="recentform" class="hidden">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input name="address" type="text" class="form-control" id="recentaddress" placeholder="Address" required="True">
                </div>
                <div class="form-group">
                    <label class="form-label">Street</label>
                    <div class="controls">
                        <select name="street" id="recentstreet" class="form-control input-xlarge" required="True">
                            <option value="" selected="selected">(please select)</option>
                            {% for street in streets %}
                                <option value= {{ street.street_name|replace(" ", "-") }}>{{ street.street_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="recentsidediv" class="form-group">
                    <label class="form-label">Street Side</label>
                    <div class="controls">
                        <select name="side" id="recentside" class="form-control input-xlarge" required="True">
                            <option value="" selected="selected">(please select)</option>
                            {% for side in sides %}
                                <option value={{ side.side_name }} id = {{ side.side_name }} class = 'hidden sides recent'>{{ side.side_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="type" value="las">
                <button type="submit" class="btn btn-default" >Update Recent Address</button>
            </form>
        </div>
    </div>
  </div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/static/js/myplaces.js"></script>
{% endblock %}

