{% extends 'base.html' %}

{% block content %}
{% if email %}
    Welcome <a href='/user_info'><button>{{ email }}</button></a>
    <a href='/my_places'><button>My Places</button></a>
    <form action='/' method="POST">
        <input type='submit' value='logout'>
    </form>
{% else %}
    <a href='/login'><button>Login</button></a>
{% endif %}

<div id='forms'>
    <h1>How Long Until Street Cleaning</h1>
    <p>
        <form id="adressinfo">
            Number: <input type="text" name="address" id="address" required="True"><br>
            
            Street: <select name="street" id="street" required="True">
                <option value = ' '>  </option>
                {% for street in streets %}
                    <option value= {{ street.street_name|replace(" ", "-") }}>{{ street.street_name }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <br>
            <div id="sidediv">
            Please Choose Side of Street: <select name="side" id="side" required="True">
                <option value= " ">  </option>
                {% for side in sides %}
                    <option value={{ side.side_name }} id = {{ side.side_name }} class = 'hidden sides'>{{ side.side_name }}</option>
                {% endfor %}
            </select>
            </div>
            <br>

            <button id="addressbtn">When is Street Cleaning?</button>
        </form>
    </p>


    <div id="timeleft"></div>

    {% if 'login' in session %}
        <form id="gettext">
            <input name="cleaningtime" id="cleaningtime" type="hidden">
            <input type="submit" name="submit" value="Get A Text Reminder">
        </form>
    {% else %}
        <a href='/login' id="logintextbtn"><button>Login to Get Text Reminders</button></a>
    {% endif %}
    <button id="locationsbtn">Parking in my Neighborhood</button>
    
    <button id="filterbtn" class="hidden">Filter</button>
    <form name="filterform" id="filterform" class="hidden">
        I'm parking for: <select name="filteroptions" id="filteroptions" required="True">
                            <option value = '1'>two hours</option>
                            <option value = '2'>until tomorrow</option>
                            <option value = '3'>two days</option>
                            <option value = '4'>a week</option>
                        </select>
        <input type="submit" name="submit">
    </form>


</div>

<div id='map'></div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/static/js/showstreetcleaninginfo.js"></script>
<!-- <script type="text/javascript" src="/static/js/coordinates.js"></script> -->
<script type="text/javascript" src="/static/js/map.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0OiwKI95QDFdX-GkLuGipWuYuf-RyEcQ&callback=initMap"></script>
<script type="text/javascript" src="/static/js/sendtext.js"></script>
<script type="text/javascript" src='/static/js/markers.js'></script>
<script type="text/javascript" src='/static/js/filter.js'></script>
{% endblock %}

