{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-dark" style="background-color: DarkSlateGray;">
  	<div class="container-fluid">

    <div class="navbar-header" style='color: white;'>
		<div class='row' id='userinfodiv'>
			<h1 id='userinfo'> User information for {{ user.email }} </h1>
		</div>
		<div id='ui' class='row'>
			Email: {{ user.email }}

			<span style="display:inline-block; width: 2em;"></span>
			{% if user.phone %} 
			    Phone Number: ({{ user.phone[:3] }}) {{user.phone[3:6]}} - {{user.phone[6:10]}}
			{% else %}
			    No Phone Number Associated with This Account
			{% endif %}
		</div>
	</div>
	<div class="nav navbar-nav navbar-right">
        <a id="parkbtn2" href="/parking" style="color: white; vertical-align: center; font-size: 20px;" class="hover-link"> Park My Car</a>
  	</div>
	
	</div>
</nav>

<div class= 'container'>
	<div class='row'>
	<div class= 'col-xs-4'>
		<form action='/update_user' method="POST">

			<h2>Update Information:</h2>
			<div class='form-group'>
				<label for="email">Email</label>
		        <input name="email" type="email" class="form-control" placeholder="Email" required="True">
			</div>
			<div class='form-group'>
				<label for='password'>Password</label>
				<input name="password" type="password" class="form-control" placeholder="Password" require="True">
			</div>
			<div class="form-group">
				<label for="phone">Phone</label>
				<input name="phone" type="text" class="form-control" placeholder="Phone Number" required="True">
			</div>

			<button type="submit" class="btn btn-default" >Update Information</button>
		
		</form>
			
			<br>
			<form action='/' method="POST">
			    <button type="submit" class="btn btn-default" >Log Out</button>
			</form>

	</div>
</div>
</div>

{% endblock %}